<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.facebook.orca" />
    </queries>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".tasker.ActivitySendMessageConfig"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@mipmap/ic_launcher"
            android:label="Send a message on Messenger"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.ActivityReactToMessageConfig"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@mipmap/ic_launcher"
            android:label="React to a message on Messenger"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.ActivityOnMessageConfig"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@mipmap/ic_launcher"
            android:label="On message received"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.ActivityOnUserTypingConfig"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@mipmap/ic_launcher"
            android:label="On user typing"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Enhance Facebook Messenger app with loads of exciting features !" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedscope"
            android:value="com.facebook.orca" />
    </application>

</manifest>