<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tn.amin.mpro" >

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

	<queries>
		<package android:name="tn.amin.mpro"/>
	</queries>

	<application
        android:allowBackup="true"
		android:requestLegacyExternalStorage="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
		android:resizeableActivity="true">
		<meta-data
			android:name="xposedmodule"
			android:value="true" />
		<meta-data
			android:name="xposeddescription"
			android:value="Many cool features added to Facebook Messsenger ;)" />
		<meta-data
			android:name="xposedsharedprefs"
			android:value="true" />
		<meta-data
			android:name="xposedminversion"
			android:value="53" />
		<activity
			android:name=".activities.SettingsActivity"
			android:exported="true"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="tn.amin.mpro.SETTINGS"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
    </application>
</manifest>
